= simple_form_for(@notification) do |f|
  = f.error_notification
  .row
    .medium-6.columns
      .row
        = f.input :dcm_topic_id, label: "DCM Topics",
          as: :select, collection: @dcm_topics
      .row
        = f.input :e911s, label: "e911 Subscriber List",
          as: :select, collection: @current_user.account.e911s,
          include_blank: true #, input_html: {multiple: true},
      .row
        = f.fields_for :geo do |ff|
          = ff.input :geojson, as: :hidden, input_html: {id: 'geojson-serialized'}
        %a.map.button{'data-request' => 'iframe-map'}= 'Map'
        .ens-map-editor
          -# data is posted to src, while subscribing to sub_geo_path to get it
          %iframe#leaflet-map{src: geo_src_path(@notification, iframe: true, sse_channel: @sse_channel),
            data: {sse_channel: sub_geo_path(@sse_channel, format: :json)},
            width: 425,
            height: 350,
            frameborder: 0,
            scrolling: 'no',
            marginheight: 0,
            marginwidth:  0}

    .medium-6.columns
      .ens-message-editor
        = f.input_field :message, as: :text, class: 'ckeditor'

  .form-actions
    = f.button :submit, "Send"
