= simple_form_for(@notification) do |f|
  = f.error_notification
  .row
    .medium-6.columns
      .row
        = f.input :dcm_topic_id, label: "DCM Topics",
          as: :select, collection: @dcm_topics
      .row
        = f.input :e911s, label: "e911 Subscriber List",
          as: :select, collection: @current_user.account.e911s,
          input_html: {multiple: true}
      .row
        %a.map.button{'data-reveal-id' => 'modal-map'} map
        #modal-map.reveal-modal{'data-reveal' => true}
          = map( {center: { latlng: [51.52238797921441, -0.08366235665359283],
            zoom: 10} })
          %a.close-reveal-modal &#215;

        -# #map.hide{ style: "width: 800px; height: 400px;"}
        -#   -# javascript only
        -#   = link_to "Map", "#"
        -#   = text_field_tag :city
        -#   -# = f.input :lat, as: :hidden
        -#   -# = f.input :log, as: :hidden
        -#   -# = f.input :radius, as: :hidden
    .medium-6.columns
      = f.input_field :message, as: :text, class: 'ckeditor'

  .form-actions
    = f.button :submit, "Send"

-# %script{ src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
-# %script{ src: '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js', type: "text/javascript"}
#modal-map.reveal-modal{data: 'reveal'}
  -# = map( {center: { latlng: [51.52238797921441, -0.08366235665359283], zoom: 18} })
  %p.lead hello
  %a.close-reveal-modal &#215;
