= simple_form_for(@notification) do |f|
  = f.error_notification

  .form-inputs
    = f.input :dcm_topic_id, label: "DCM Topics", collection: @dcm_topics
    = f.input :dcm_account_code

  .form-actions
    = f.button :submit
