= simple_form_for(@notification) do |f|
  = f.error_notification
  .row
    .medium-6.columns
      .row
        = f.input :dcm_topic_id, label: "DCM Topics",
          as: :select, collection: @dcm_topics
      .row
        = f.input :e911s, label: "e911 Subscriber List",
          as: :select, collection: @current_user.account.e911s,
          input_html: {multiple: true}
    .medium-6.columns
      = f.input_field :message, as: :text, class: 'ckeditor'

  .form-actions
    = f.button :submit, "Send"
